.page-header{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #4C4;
        height: 50px;
}
body{background-image: url("http://3.bp.blogspot.com/-cGsmERRshGM/TkrFK4vYQjI/AAAAAAAALh8/RdDjhE96P2U/s1600/Set+of+Food+Wallpaper+%252821%2529.jpg");}